#!/usr/bin/env bash
export TWITCH_CLIENT_ID=nqfbvqumi235u2px7kch3vx02zjgq5
export APP_SETTINGS=web.config.DevelopmentConfig
export SECRET_KEY=development
export DATABASE_URL=$"postgresql+psycopg2://172.16.0.3/postgres?user=postgres&password=postgres"
export FLASK_APP=web.wsgi.py
export TWITCH_BOT_USERNAME=GuessGameBot
export REDIS_URL=redis://172.16.0.2
export DYNO=standard_bot.1

IFS=$'\n'

for line in $(cat .env); do
    eval "export $line"
done
