{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h2>Hello, {{ current_user.twitch_display_name }}</h2>
    {% set bot_status = current_user.get_bot_enabled() %}
        The bot is currently <span id="bot_{{ 'enabled' if bot_status else 'disabled' }}">{{ 'Enabled' if bot_status else 'Disabled' }}</span>
        <form action="{{ url_for('bot.change_status') }}" method="post" class="inline-block">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <input type="submit" value="{{ 'Disable' if bot_status else 'Enable' }}" />
        </form>
{% endblock %}}
