<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome - Guessing Game</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<nav>
    <h1>Guessing Game</h1>
    <ul>
        <li>
            {% if user %}
                <h1>Hello, {{ user.twitch_display_name }}</h1>
                <button id="logout">
                    <a href="{{ url_for('authentication.logout') }}">Log Out</a>
                </button>
            {% else %}
                <button id="login_with_twitch">
                    <a href="{{ url_for('authentication.login') }}">Log In with Twitch</a>
                </button>
            {% endif %}
        </li>
    </ul>
</nav>
{% if user %}
    {% set bot_status = user.get_bot_enabled() %}
    <content>
        <p>The bot is currently <span id="bot_{{ 'enabled' if bot_status else 'disabled' }}">{{ 'Enabled' if bot_session else 'Disabled' }}</span></p>
        <p><a href="{{ url_for('bot.change_status') }}">Click here to {{ 'Disable' if bot_status else 'Enable' }}</a> the bot</p>
    </content>
{% endif %}
</body>
</html>
