<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome - Guessing Game</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<nav>
    <h1>Guessing Game</h1>
    <ul>
        <li>
            <p>{{  session }}</p>
            {% if session['twitch_token'] %}
                <h1>Hello, {{ user.twitch_display_name }}</h1>
                <button id="logout">
                    <a href="{{ url_for('authentication.logout') }}">Log Out</a>
                </button>
            {% else %}
                <button id="login_with_twitch">
                    <a href="{{ url_for('authentication.login') }}">Log In with Twitch</a>
                </button>
            {% endif %}
        </li>
    </ul>
</nav>
</body>
</html>
