.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-grid input, .form-grid label {
    margin: 5px 0;
}

.form-labels {
    grid-column: 1;
}

.form-inputs {
    grid-column: 2;
}

.form-submit {
    grid-column: 2;
}

.twitch-button {
    background-color: #6441A4;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

.nav-button {
    height: 40px;
}

.index-button {
    height: 60px;
}

.clean-link {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.float-right {
    float: right;
}

.flex-container {
    grid-row: 1;
    grid-column: span 12;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

h1.site-name {
    font-size: x-large;
}

h1.site-name a {
    color: black;
}

nav.buttons {
    align-self: auto;
}

nav.nav-links {
    align-self: center;
}

nav.sidebar-nav {
    display: none;
    grid-column: 1;
    grid-row: 2;
    padding: 20px 20px 0 10px;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

main {
    grid-row: 2;
    grid-column: span 12;
}

.footer {
    grid-row: 3;
    grid-column: span 12;
    padding-top: 2em;
}

@media (min-width: 40.625em) {
    nav.sidebar-nav {
        display: block;
    }

    main {
        grid-column-start: 2;
        grid-column-end: 13;
    }

    .footer {
        grid-column-start: 2;
        grid-column-end: 13;
    }
}

@media (min-width: 26.563em) {
    .flex-container {
        flex-direction: row;
    }

    nav.buttons {
        align-self: center;
    }
}
