.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-grid input, .form-grid label {
    margin: 5px 0;
}

.form-labels {
    grid-column: 1;
}

.form-inputs {
    grid-column: 2;
}

.form-submit {
    grid-column: 2;
}

.twitch-button {
    background-color: #6441A4;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

.nav-button {
    height: 40px;
}

.index-button {
    height: 60px;
}

.clean-link {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.float-right {
    float: right;
}

.flex-container {
    grid-row: 1;
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1.site-name {
    font-size: x-large;
}

h1.site-name a {
    color: white;
}

nav.buttons {
    align-self: auto;
}

nav.nav-links {
    align-self: center;
}

nav#sidebar-nav {
    grid-row: 2;
    grid-column: span 12;
    display: none;
    padding: 20px 20px 0 10px;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: center;
    background-color: darkgray;
}

nav#sidebar-nav ul li {
    display: block;
    padding-bottom: 1em;
}

a#nav-button {
    width: 2em;
    align-self: auto;
    display: block;
    float: left;
    text-decoration: none;
}

.with_nav #sidebar-nav {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

main {
    grid-row: 3;
    grid-column: span 12;
}

.footer {
    grid-row: 4;
    grid-column: span 12;
    padding-top: 2em;
}

@media (min-width: 40.625em) {
    nav#sidebar-nav {
        display: block;
    }

    a#nav-button {
        display:none;
        float: none;
    }
}

@media (min-width: 26.563em) {
    .flex-container {
        flex-direction: row;
        padding-bottom: 0;
    }

    nav.buttons {
        margin-left: auto;
        align-self: center;
    }

    a#nav-button {
        align-self: center;
    }

    nav#sidebar-nav {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column: auto;
        margin-right: 10px;
        padding-bottom: 0;
    }

    main {
        grid-row: 2;
    }

    .footer {
        grid-row: 3;
    }
}
