{% extends 'base.html' %}
{% block title %}Guessables{% endblock %}
{% block content %}
    <h2>Guessables</h2>
    {% if guessables|length < 30 %}
        <p><a href="{{ url_for('guessable.create') }}">Add Guessable</a></p>
    {% endif %}
    {% if guessables %}
        {% for guessable in guessables %}
            <fieldset>
                {{ guessable.name }}
                <div class="float-right">
                    <a href="{{ url_for('guessable.update', uuid=guessable.uuid) }}">Edit</a>
                    <form action="{{ url_for('guessable.delete', uuid=guessable.uuid) }}" method="post" class="inline-block">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            </fieldset>
        {% endfor %}
    {% endif %}
{% endblock %}}
